#contain {
    background-color:#3b3b40;
    height:100%;/* no need  */
    margin:0;
    padding:0;
    text-align:center;
}
#img {
    padding:0;
    margin:0;
    width:49%;
    min-width:350px;
    vertical-align:bottom;
}
#bio {
    width:49%;
    min-width:350px;
    display:inline-block;
    padding:40px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:white;
}
